## Package Manager

#Update dependencies
alias update="sudo apt-get update"

#Apply changes
alias upgrade="sudo apt-get upgrade"

#Update & upgrade
alias improve="update && upgrade"

#Fullupdate
alias fullupdate="sudo apt full-upgrade"

#Autoclean
alias autoclean="sudo apt-get autoclean"

#Autoremove
alias autoremove="sudo apt-get autoremove"

#List installed packages
alias installed="apt list --installed | fzf" 


## Navigation

#Photos
alias pics="cd $HOME/Imágenes"

#Videos
alias videos="cd $HOME/Vídeos"

#Downloads
alias downloads="cd $HOME/Descargas"

#Documents
alias docs="cd $HOME/Documentos"

#Desktop
alias desk="cd $HOME/Escritorio"

#Music
alias music="cd $HOME/Música"

#Public
alias public="cd $HOME/Público"

#Templates
alias templates="cd $HOME/Plantillas"


## Reconnaissance

#eza
alias ls="eza --icons --color=always --git --no-filesize --no-time --no-user --no-permissions"

alias la="eza --icons -lgha --group-directories-first"

alias lt="eza --icons --tree"

alias lta="eza --icons --tree -lgha"

#batcat
alias cat='batcat --theme="Monokai Extended Bright" --style=plain --paging=never $@'

alias bat='batcat --theme="zenburn"'

#fzf
alias preview='fzf --preview "batcat --color=always --style=numbers --line-range=:500 {}"'

alias edit='vim $(preview)'

#Largest Files
alias largefile="du -h -x -s -- * | sort -r -h | head -20"


## Utilities

#man
alias findman="compgen -c | fzf | sort | xargs man"

#env
alias getenv="printenv | sort | fzf"

#alias
alias getalias="alias | sort | fzf"


## Source Control
alias gitgraph="git log --graph --decorate --abbrev-commit --all --pretty=oneline"


## Configuration

#zshrc
alias zshconf="vim ~/.zshrc"

#zshenv
alias zshenv="vim ~/.zshenv"

#zlogout
alias zlogout="vim ~/.zlogout"

#toys
alias toysconf="vim ~/.toys"

#tmux
alias tmuxconf="vim ~/.tmux.conf"


## Terminal 

#Refresh
alias refresh="source $HOME/.zshrc"

#Unsource
alias unsource="exec $SHELL -l"


## Other dotfiles

#Aliases
alias aliases="vim ~/.aliases"

#Execute once zsh is started
alias autostart="vim ~/.autostart"

#bashrc
alias bashconf="vim ~/.bashrc"

